.element__trash {
  	min-height: 24px;
  	min-width: 24px;
  	top: 18px;
  	right: 15px;
  	background-image: url('../../../images/trash.svg');
  	border: none;
  	background-repeat: no-repeat;
  	background-color: transparent;
  	background-position: center;
  	transition: opacity .20s ease-in;
  	outline: none;
  	position: absolute;
  	visibility: hidden;
}

.element__trash:hover{
  	opacity: .6;
  	cursor: pointer;
}